

.container div, .container-2 div {
    border: 1px solid #ccc;
    padding: 10px;
}

.box-1 {
    flex: 1;
}

.box-2 {
    flex:2;
}

.box-3 {
    flex: 1;
}



.container-2-box{
    flex-basis: 25%;
}

@media(min-width: 768px){
    .container {
        display: flex;
        align-items: center;
    }
    .container-2{
        display: flex;
        justify-content: space-between;
    }
}